*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wraper{
  display: grid;
  grid-template-areas:
  "header header"
  "nav main-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-gap: 15px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}




